:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
     --ff-primary:  'Poppins', sans-serif;;
  /*  --ff-secondary: "Open Sans", sans-serif; */
    --transition: all 0.5s linear;
    --spacing: 0.1rem;
    --radius: 1rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(51, 51, 51, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

*,
::after,
::before {
  margin: 0;
  padding : 0;
  box-sizing : border-box;
}



body
{
   
   line-height: 1.5;
   background: #a5b0b8;
   color: #b73aff;
   font-size: 0.875rem;
   
}

ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }

  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  /*  global classes */
  
  /* section */
  .section {
    padding: 5rem 0;
  }
  
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }

  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
  }
  main {
    min-height: 88vh;
    display: grid;
    place-items: center;
  }

  nav {
    background: var(--clr-white);
    height: 4rem;
    display: grid;
    align-items: center;
    box-shadow: var(--dark-shadow);
  }
  .nav-name {
    width: 90vw;
    /* max-width: var(--fixed-width); */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-name h4 {
    margin-bottom: 0;
    color: #b73aff  ;
  }
  .nav-main {
    display: flex;
    justify-items: right;
    padding-left:20rem;
 }

  nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--clr-primary-1);
    letter-spacing: var(--spacing);
    margin-right: 1rem;
  }
  nav a:hover {
    color: #b73aff;
  }
  /*
  =============== 
  Container
  ===============
  */
  main {
    min-height: 20rems;
    display: grid;
    place-items: center;
    justify-content: center;
  }
  /* .container {
    text-align: center;
  }
  .container h2 {
    background: var(--clr-black);
    color: var(--clr-white);
    padding: 1rem;
    border-radius: var(--radius);
    margin-bottom: 1rem;
   
  } */
  .subcontainer {
    /* background-color:#222; */
    /* border-radius: var(--radius); */
    text-align: center;
    justify-content: center;
   text-align: center;
    font-size: 2rem;
    /* padding: 5rem; */
    margin-top: 5rem;
    /* margin-bottom: 1rem; */
    color:#ffffff;
    font-weight: 700;
   

  }

  .btn-hero {
    text-align: center;
    align-items: center;
    font-family: var(--ff-primary);
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    letter-spacing: var(--spacing);
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    transition: var(--transition);
    border: 2px solid var(--clr-black);
    cursor: pointer;
    margin-bottom: 5rem;
    /* margin-top: 0.5rem; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    
    padding: 0.75rem 1.25rem;
  }
  .btn-hero:hover {
    color: var(--clr-white);
    background: var(--clr-black);
  }

/* .color
{
   color:#720b9b ;


}
.btn
{
    color: rgb(114, 11, 155); 
    background-color: #a4fcff;

    
} */
